[user]
  name = hiterm
  email = hiterm23@gmail.com
[push]
  default = simple
[alias]
  st = status
  ca = commit -a
  di = diff
  dic = diff --cached
  dis = -c delta.side-by-side=true diff
  dins = -c delta.side-by-side=false diff
  co = checkout
  cm = commit
  sw = switch
  rs = restore
  pushf = push --force-with-lease --force-if-includes
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
  uni = !git -c 'delta.features="base unified"'
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[diff]
  algorithm = histogram
  colorMoved = default
  tool = nvimdiff
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[delta]
  features = base sbs
[delta "base"]
  navigate = true
  syntax-theme = Nord
  line-numbers = true
  side-by-side = true
[delta "sbs"]
  side-by-side	= true
[delta "unified"]
  side-by-side	= false
{{ if eq .chezmoi.os "darwin" }}
[credential]
	helper = osxkeychain
{{ end }}
[include]
  path = .gitconfig.local
